{template 'common/header'}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            添加内容 （添加时请注意：时间有时会跟着鼠标滚轮变化）
        </h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" role="form" method="post" action="" name="submit">
			<div class="form-group">
				<label for="firstname" class="col-sm-2 control-label">内容标题</label>
				<div class="col-sm-10">
					<input type="text" class="form-control"  name="title">
					<input type="hidden" name="token" value="{$_W['token']}">
				</div>
			</div>
			<div class="form-group">
				<label for="lastname" class="col-sm-2 control-label">分类</label>
				<div class="col-sm-10">
					 <select class="form-control" name="cid" style="width: 50%;" id="cate"> 
					 	{loop $list $index $item}
					 	<option value="{$item['id']}" test="{$item['type']}">{$item['name']}</option>
					 		{loop $item['son'] $index1 $item1}
					 			<option value="{$item1['id']}" test="{$item['type']}">&nbsp;&nbsp;___{$item1['name']}</option>
					 		{/loop}
					 	{/loop}
					 </select>
				</div>
			</div>
			<div class="form-group">
				<label for="lastname" class="col-sm-2 control-label">缩略图</label>
				<div class="col-sm-7">

					 {php echo tpl_form_field_image('thumb');}
				</div>
				<div class="clo-sm-3">
					新闻缩略图：228*150
					产品缩略图：346*210（像素）
				</div>
			</div>
			<div class="form-group">
				<label for="lastname" class="col-sm-2 control-label">时间</label>
				<div class="col-sm-10" style="width: 50%;">
					{php echo tpl_form_field_date('addtime');}
				</div>
			</div>
			<div class="form-group">
				<label for="firstname" class="col-sm-2 control-label">排序(越大越靠前)</label>
				<div class="col-sm-10">
					<input type="text" class="form-control"  name="sortrank" style="width: 100px;">
				</div>
			</div>

			<div class="form-group" id="appid">
				<label for="firstname" class="col-sm-2 control-label">跳转小程序的appid</label>
				<div class="col-sm-3">
					<input type="text" class="form-control"  name="appid" > 
				</div>
				<div class="col-sm-7">
					两个小程序必须同时绑定在同一个公众号下才可以跳转。具体绑定步骤：
					登录公众号在左侧找到小程序管理栏目->添加->关联小程序<br/>
					一个公众号可关联10个同主体的小程序，3个不同主体的小程序。<br/>
一个小程序可关联3个公众号。<br/>
公众号一个月可新增关联小程序13次，小程序一个月可新增关联5次【&#119;&#119;&#119;&#46;&#101;&#102;&#119;&#119;&#119;&#46;&#99;&#111;&#109;】。<br/>
				</div>	
			</div>

			<div class="form-group" id="pageaddress">
				<label for="firstname" class="col-sm-2 control-label">跳转小程序页面地址</label>
				<div class="col-sm-5">
					<input type="text" class="form-control"  name="pageaddress" >
				</div>
				<div class="col-sm-5">
					每个小程序的地址都可能不同，本款小程序的主页地址是：yyf_company/pages/index/index
				</div>	
			</div>

			<div class="form-group" id="video_adress">
				<label for="lastname" class="col-sm-2 control-label">视频播放地址</label>
				<div class="col-sm-6" >
					<input type="text" class="form-control"  name="videosrc">
				</div>
				<div class="col-sm-4" >
					 只能播放mp4文件，格式：http://www.w3school.com.cn//i/movie.mp4
					 由于视频文件普遍很大，请用ftp或者其他工具自行传到网站上
				</div>
			</div>
			<div  style="text-indent: 150px; font-size: 16px;">小程序暂时不支持复杂的格式文本，如果发现前台显示空白，请把内容复制到文本文档里中转一下。</div>
			<div class="form-group" id="cotent">
				<label for="lastname" class="col-sm-2 control-label">内容</label>
				<div class="col-sm-10">
					{php echo tpl_ueditor('content',$result['content']);}
				</div>
			</div>

			<div class="form-group">
				
				<div class="col-sm-offset-2 col-sm-10">
					<input type="submit" name="submit" class="btn btn-default">
					
				</div>
			</div>


			
	</form>
	{$page}
    </div>
</div>

<script type="text/javascript">
	$(function(){
		var catetype=$('#cate').find("option:selected").attr("test");
		domhide(catetype);
		$('#cate').change(function(){
			var catetype=$(this).find("option:selected").attr("test");
			domhide(catetype);
		})
		function domhide(catetype){
			if(catetype=='6'){
				$('#video_adress').hide();
				$('#content').hide();
				$('#appid').show();
				$('#pageaddress').show();

			}else{
				$('#video_adress').show();
				$('#content').show();
				$('#appid').hide();
				$('#pageaddress').hide();
			}
		}
	})
</script>
{template 'common/footer'}