{template 'common/header'}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
          配置说明：
        </h3>
    </div>
    <div class="panel-body">
        <div style="font-size: 16px;">单页面顾名思义，就是一个页面的分类。类似于公司简介可以用这种。其他展示类型的分类，根据自己分类的属性，选择其中一种展示样式，然后往该分类下添加内容即可。</div>
        <div>
            <h4>一行两列图片列表页样式:</h4>
            <img src="{$img}cate1.jpg" >
        </div>
        <div>
            <h4>一行一列图片列表页样式:</h4>
            <img src="{$img}cate2.jpg" >
        </div>
        <div>
            <h4>新闻列表页-带缩略图样式:</h4>
            <img src="{$img}cate3.jpg" >
        </div>
        <div>
            <h4>新闻列表页-不带缩略图样式:</h4>
            <img src="{$img}cate4.jpg" >
        </div>
        <div>
            <h4>跳转小程序专用样式:</h4>
            <img src="{$img}cate5.jpg" >
        </div>
      

        
        
    </div>
</div>


{template 'common/footer'}