{template 'common/header'}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            右键另存为到本地，然后上传   建议尺寸100*100(像素)
        </h3>
    </div>
    <div class="panel-body">
        更多素材请直接到这个网站搜素  <a href="http://www.iconpng.com/" target="blank">http://www.iconpng.com/</a> 
        <img src="{$url}about.png">
        <img src="{$url}case.png">
        <img src="{$url}news.png">
        <img src="{$url}business.png">
    </div>
</div>


{template 'common/footer'}