{template 'common/header'}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            修改分类
        </h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" role="form" method="post" action="" name="submit">
        	
			<div class="form-group">
				<label for="firstname" class="col-sm-2 control-label">分类名称</label>
				<div class="col-sm-10">
					<input type="text" class="form-control"  name="name" value="{$data[name]}">
					<input type="hidden" name="token" value="{$_W['token']}">
					<input type="hidden" name="aid" value="{$data['id']}">
				</div>
			</div>
			{if $isson==true}
			<div class="form-group">
				<label for="firstname" class="col-sm-2 control-label">父类：</label>
				<div class="col-sm-10">
					<select class="form-control" name="son" style="width: 100%;" > 
					{loop $cats $index $item}
					<option value="{$item[id]}" {if $item[id]==$data[fid]} selected="selected" {/if}>{$item[name]}</option>
					{/loop}
					</select>
				</div>
			</div>
			{/if}
			<div class="form-group" {if $isson==true} style="display: none" {/if}>
				<label for="lastname" class="col-sm-2 control-label">栏目图标</label>
				<div class="col-sm-8">

					  {php echo tpl_form_field_image('thumb',$data['thumb']);}
				</div>
				<div class="col-sm-2">
					<a href="{url 'site/entry/choiceCatImg',array('m'=>'yyf_company')}" style="margin-left: 10px; color: red; font-size: 18px;" target="blank"> 点击寻找素材</a>
				</div>
			</div>
			<div class="form-group" {if $isson==true} style="display: none" {/if}>
				<label for="lastname" class="col-sm-2 control-label">栏目展示类型</label>
				<div class="col-sm-7">
					<select class="form-control" name="type" style="width: 100%;" id="myselect"> 
					 	<option value="1" {if $data['type'] == '1'}selected="selected"{/if}>一行两列图片列表页</option>
					 	<option value="5" {if $data['type'] == '5'}selected="selected"{/if}>一行一列图片列表页</option>
					 	<option value="2" {if $data['type'] == '2'}selected="selected"{/if}> 新闻列表页-带缩略图的</option>
					 	<option value="4" {if $data['type'] == '4'}selected="selected"{/if}> 新闻列表页-不带缩略图</option>
					 	<option value="3" {if $data['type'] == '3'}selected="selected"{/if}> 单页面</option>
					 	<option value="6" {if $data['type'] == '6'}selected="selected"{/if}>跳转小程序专用-样式也是一行两列图片</option>
					 	<option value="7" {if $data['type'] == '7'}selected="selected"{/if}>首页播放视频专用</option>
					 </select>
				</div>
				<div class="col-sm-3">
					类似公司简介这种只需要一个介绍页面的，选择单页面
				</div>
			</div>

			<div class="form-group" {if $isson==true || $data[type]!=1} style="display: none" {/if} id="show_cate1_thumb_height" >
				<label for="firstname" class="col-sm-2 control-label">图片高度自定义</label>
				<div class="col-sm-2">
					<input type="text" class="form-control"  name="thumb_height" value="{$data[thumb_height]}"> 
				</div>
				<div class="col-sm-8">
					<img src="{$url}cate0.jpg" /><br/>
					 一行两列图片展示类型可以根据自己的需要自定义图片的高度，默认是高度105px
				</div>
			</div>


			<div class="form-group">
				<label for="firstname" class="col-sm-2 control-label">排序</label>
				<div class="col-sm-2">
					<input type="text" class="form-control"  name="sortrank" value="{$data[sortrank]}"> 
				</div>
				<div class="col-sm-8">
					 数字越大越靠前
				</div>
			</div>
			<div class="form-group" id="myisshow" {if $data[type]==3}style="display:none"{/if} {if $isson==true} style="display: none" {/if}>
				<label for="firstname" class="col-sm-2 control-label">在首页展示的条数</label>
				<div class="col-sm-2">
					<input type="text" class="form-control"  name="show_num" value="{$data[show_num]}"> 
				</div>
				<div class="col-sm-8">
					 该分类下的内容在首页公告栏下方展示的数量，默认是4条
				</div>
			</div>
			<div class="form-group" id="myisshow" {if $data[type]==3}style="display:none"{/if} {if $isson==true} style="display: none" {/if}>
				<label for="lastname" class="col-sm-3 control-label">是否在首页导航栏显示</label>
				<div class="col-sm-7">
					 <div class="checkbox">
        				<label><input type="checkbox" {if $data['isshow_nav']==0} checked="checked"{/if} name="isshow_nav"  /></label>
        			 </div>	
				</div>
			</div>
		
			<div class="form-group" id="myisshow" {if $data[type]==3}style="display:none"{/if} {if $isson==true} style="display: none" {/if}>
				<label for="lastname" class="col-sm-3 control-label">是否在首页公告栏下方显示</label>
				<div class="col-sm-7">
					 <div class="checkbox">
        				<label><input type="checkbox" {if $data['isshow']==1} checked="checked"{/if} name="isshow"  /></label>
        			 </div>	
				</div>
			</div>

			<div class="form-group" id="myisshow" {if $data[type]==3}style="display:none"{/if} {if $isson==true} style="display: none" {/if}>
				<label for="lastname" class="col-sm-3 control-label">是否显示分类栏</label>
				<div class="col-sm-2">
					 <div class="checkbox">
        				<label><input type="checkbox" {if $data['hide_navbar']==0} checked="checked"{/if} name="hide_navbar"  /></label>
        			 </div>	
        			
				</div>
				 <div class="col-sm-7">
						不打勾将会隐藏分类栏-><img src="{$url}navbar.png" style="width: 320px;"> 
				</div>
			</div>

			<div class="form-group" id="mycontent" {if $data[type]!='3'}style="display:none"{/if} {if $isson==true} style="display: none" {/if}>
				<label for="lastname" class="col-sm-2 control-label">单页面内容</label>
				
				<div class="col-sm-10">
					{php echo tpl_ueditor('content',$data['content']);}
				</div>
			</div>

			<div class="form-group">
				
				<div class="col-sm-offset-2 col-sm-10">
					<input type="submit" name="submit" class="btn btn-default">
					
				</div>
			</div>


			
	</form>
	{$page}
    </div>
</div>
<script type="text/javascript">
	$(function(){
		$('#myselect').change(function(){
			var value=$(this).children('option:selected').val();

			if(value=='3'){
				$('#mycontent').show();
				$('#myisshow').hide();
			}else{
				$('#mycontent').hide();
				$('#myisshow').show();
			}
			if(value=='1'){
				$('#show_cate1_thumb_height').show();
			}else{
				$('#show_cate1_thumb_height').hide();
			}		
		})
	})
</script>

{template 'common/footer'}