{template 'common/header'}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            网站设置
        </h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" role="form" method="post" action="" name="submit">
       		<div class="form-group">
				<label for="firstname" class="col-sm-2 control-label">网站标题</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="notice" name="title" value="{$result['title']}">
					
				</div>
			</div>
			<div class="form-group">
				<label for="firstname" class="col-sm-2 control-label">网站公告</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="notice" name="notice" value="{$result['notice']}">
					<input type="hidden" name="token" value="{$_W['token']}">
				</div>
			</div>
			<div class="form-group">
				<label for="lastname" class="col-sm-2 control-label">电话号码</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="position" name="phone" value="{$result['phone']}">
				</div>
			</div>
			<div class="form-group">
				<label for="lastname" class="col-sm-2 control-label">电话号码2</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="position" name="phone2" value="{$result['phone2']}">
				</div>
				<div class="col-sm-4">
					这个电话号码设置后会在联系我们页面里显示。
				</div>
			</div>
			<div class="form-group">
				<label for="lastname" class="col-sm-2 control-label">邮箱</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="position" name="email" value="{$result['email']}">
				</div>
			</div>
			<div class="form-group">
				<label for="lastname" class="col-sm-2 control-label">QQ</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="position" name="qq" value="{$result['qq']}">
				</div>
			</div>
			<div class="form-group">
				<label for="lastname" class="col-sm-2 control-label">公司地址</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="position" name="address" value="{$result['address']}">
				</div>
			</div>
			<div class="form-group">
				<label for="lastname" class="col-sm-2 control-label">公司地址坐标</label>
				<div class="col-sm-5">
					<input type="text" class="form-control" id="position" name="position" value="{$result['jing']},{$result['wei']}" placeholder="35.399660,119.503670">
				</div>
				<div class="col-sm-5"><a href="http://lbs.qq.com/tool/getpoint/" target="blank" style="color: red">点击进入地图选取坐标</a></div>
			</div>
			<div class="form-group">
				<label for="lastname" class="col-sm-2 control-label">首页转发标题</label>
				<div class="col-sm-7">
					<input type="text" class="form-control"  name="name" value="{$result['name']}">
				</div>
				<div class="col-sm-3">
					首页转发朋友圈或者微信好友时的标题
				</div>
			</div>

			<div class="form-group">
				<label for="lastname" class="col-sm-2 control-label">表单提醒邮箱</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="position" name="message_email" value="{$result['message_email']}">
				</div>
				<div class="col-sm-4">
					多个邮箱用英文逗号隔开。微信提醒设置方法：微信设置->通用->功能->开启QQ邮箱提醒
				</div>
			</div>
			

			<div class="form-group">
				<label for="lastname" class="col-sm-2 control-label">发送邮箱：</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="position" name="smtp_email" value="{$result['smtp_email']}">
				</div>
				<div class="col-sm-4">
					发送邮箱最好和提醒邮箱是同一个邮箱账号
					
				</div>
			</div>

			<div class="form-group">
				<label for="lastname" class="col-sm-2 control-label">发送邮箱授权码</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="position" name="smtp_key" value="{$result['smtp_key']}">
				</div>
				<div class="col-sm-4">
					<a href="{url 'site/entry/Smtp',array('m'=>'yyf_company')}" style="color: red; font-size: 16px" target="_blank">邮箱配置说明 </a>
				</div>
			</div>
			<div class="form-group">
				<label for="lastname" class="col-sm-2 control-label">邮件标题设置</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="position" name="message_title" value="{$result['message_title']}">
				</div>
				<div class="col-sm-4">
					客户提交表单后，管理员邮箱收到邮件标题。比如:您有新的业务咨询。
				</div>
			</div>
			<div class="form-group">
				<label for="lastname" class="col-sm-2 control-label">底部版权信息</label>
				<div class="col-sm-10">
					<input type="text" class="form-control"  name="copyright" value="{$result['copyright']}">
				</div>
			</div>

			

			<div class="form-group">
				
				<div class="col-sm-offset-2 col-sm-10">
					<input type="submit" name="submit" class="btn btn-default">
					
				</div>
			</div>

			<div>
				<h2>联系我们页面的在线客服使用方法：</h2>
				登录<a href="https://mp.weixin.qq.com/cgi-bin/loginpage?t=wxm2-login&lang=zh_CN" target="blank" style="color: red">【小程序官方后台】</a>，在左侧找到客服消息栏目，添加客服人员微信号。然后登陆<a href="https://mpkf.weixin.qq.com/" target="blank" style="color: red">【微信多客服系统网页版】</a>就可以了。暂不支持手机端接收回复消息！

			
				

			</div>
			
			
	</form>
    </div>
</div>


{template 'common/footer'}